.loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  place-items: center;
  max-width: 100%;
}

.loading > div {
  width: 5vmax;
  height: 5vmax;
  border-bottom: 5px solid #eb4034;
  border-left: 5px solid #eb4034;
  border-right: 5px solid #F4AF33;
  border-top: 5px solid #F4AF33;

  border-radius: 50%;

  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}